$primary-color: #eaab23;
$ultra-light-color: #efefef;
$black-primary-color: #936500;
[cg_border="border"]{
  border: 1px solid $ultra-light-color;
}
[cg_border="shadow-s"]{
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
[cg_border="shadow"]{
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2)
}
[cg_border="no-border"]{
  box-shadow: none;
  border: 0;
}

.cg-widgets_styles-orange{
    font-family: Calibri;
    .CardView_icon {
        position: relative;
        width: 400px;
        height: 200px;
        box-sizing: border-box;
        .CardView_icon_content{
            position: relative;
            width: 100%;
            height: 200px;
            .CardView_icon-w_description{
                width: calc(100% - 200px);
                background: rgb(240, 240, 240);
                float: left;
                height: 200px;
                overflow: hidden;
                position: relative;
                .CardView_icon-w_title{
                  width: 100%;
                  .CardView_icon-title{
                    width: 100%;
                    display: block;
                    padding: 20px 0 0 10px;
                    box-sizing: border-box;
                    position: relative;
                    font-size: 20px;
                    &::before{
                      line-height: normal;
                      display: block;
                      float: left;
                      padding-right: 10px;
                      margin-top: 2px;
                    }
                    &::after{
                      display: block;
                      content: " ";
                      background: $primary-color;
                      height: 1px;
                      position: absolute;
                      width: 100%;
                      left: 10px;
                      bottom: 0px;
                    }
                  }
                  .CardView_icon-subtitle{
                    padding: 0 0 0 10px;
                    box-sizing: border-box;
                    display: block;
                    font-weight: lighter;
                  }
                }
                .CardView_icon-description{
                  padding: 10px 10px 0;
                  box-sizing: border-box;
                  font-size: 14px;
                }
                .CardView_icon-link_1{
                  background: $primary-color;
                  position: absolute;
                  display: block;
                  width: calc(100% - 10px);
                  height: 40px;
                  bottom: 10px;
                  right: 0;
                  .CardView_icon-_link_1_icon{
                    display: block;
                    float: right;
                    &::before{
                      display: block;
                      height: 40px;
                      width: 40px;
                      text-align: center;
                      line-height: 40px;
                      color: white;
                      font-size: 24px;
                    }
                  }
                  .CardView_icon-link_1_title{
                    display: block;
                    padding-left: 10px;
                    box-sizing: border-box;
                    width: calc(100% - 40px);
                    line-height: 40px;
                    float: left;
                    color: white;
                  }
                }
            }
            .CardView_icon-w_illustration{
                background: white;
                float: right;
                width: 200px;
                height: 200px;
                text-decoration: none;
                .CardView_icon-icon{
                  display: block;
                  width: 100%;
                  height: 100%;
                  &:hover{
                    &::before{
                    transform: scale(1.1,1.1);
                    text-shadow: 25px 25px 0px rgba(0, 0, 0, 0.1);
                    }
                  }
                  &::before{
                    transition: all .2s linear;
                    display: block;
                    line-height: 200px;
                    text-align: center;
                    font-size: 120px;
                    color: $primary-color;
                    text-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
                  }
                }
            }
        }
    }
    .Label_icon{
      height: 62px;
      width: 100%;
      padding: 1px 0;
      box-sizing: border-box;
      position: relative;
      .Label_icon_content{
        width: 100%;
        height: 60px;
        position: relative;
        .Label_icon-banda{
          position: absolute;
          top: 8.333px;
          left: 7px;
          width: 6px;
          height: 6px;
          background: $primary-color;
          border-radius: 50%;
          &:before{
            position: absolute;
            top: 16.666px;
            left: 0px;
            display: block;
            content: " ";
            width: 6px;
            height: 6px;
            background: $primary-color;
            border-radius: 50%;
          }
          &:after{
            position: absolute;
            top: 33.333px;
            left: 0px;
            display: block;
            content: " ";
            width: 6px;
            height: 6px;
            background: $primary-color;
            border-radius: 50%;
          }
        }
        .Label_icon-icon{
          position: relative;
          float: left;
          margin: 5px 0 5px 20px;
          width: 50px;
          height: 50px;
          display: block;
          border-left: 1px solid $ultra-light-color;
          &::before{
            font-size: 30px;
            width: 50px;
            text-align: center;
            color: #e6e6e6;
            line-height: 50px;
          }
        }
        .Label_icon-w_description{
          width: calc(100% - 72px);
          float: right;
          height: 60px;
          .Label_icon-title{
            display: block;
            padding: 5px 0 0 0;
            height: 20px;
            font-weight: bold;
            }
          .Label_icon-description{
            display: block;
            padding: 0 0 5px 0;
            font-size: 14px;
          }
        }
      }
    }
    .ListILink{
      width: 100%;
      position: relative;
      transition: 0.2s linear all;
      .ListILink_content{
        padding-bottom: 10px;
      }
      .ListILink-header{
        height: 46px;
        display: block;
        overflow: hidden;
        .ListILink-icon{
          float: left;
          height: 48px;
          width: 58px;
          position: relative;
          color: transparent;
          transition: .2s linear all;
          margin-left: -40px;
          &::before{
            display: block;
            width: 40px;
            height: 100%;
            line-height: 48px;
            font-size: 22px;
            padding-left: 18px;
          }
        }
        .ListILink-title{
          height: 46px;
          line-height: 46px;
          text-transform: uppercase;
          font-size: 18px;
        }
        .ListILink-toggle_show{
          float: right;
          display: block;
          height: 46px;
          width: 30px;
          position: relative;
          color: gray;
          transition: .2s linear all;
          border: 0;
          background: transparent;
          padding: 0;
          outline: none;
          cursor: pointer;
          &::before{
            display: block;
            width: 100%;
            height: 100%;
            line-height: 46px;
            font-size: 22px;
          }
          &:hover{
            color: $primary-color;
          }
        }
      }
      .ListILink-item{
        display: block;
        height: 40px;
        position: relative;
        text-decoration: none;
        color: black;
        width: 100%;
        overflow: hidden;
        .ListILink-item-icon{
          float: left;
          height: 40px;
          width: 58px;
          position: relative;
          color: gray;
          transition: .2s linear all;
          z-index: 2;
          &::before{
            display: block;
            width: 40px;
            height: 100%;
            line-height: 40px;
            font-size: 22px;
            padding-left: 18px;
          }
        }
        .ListILink-item-title{
          height: 40px;
          line-height: 40px;
          text-transform: capitalize;
          font-weight: lighter;
          font-size: 18px;
          display: block;
          z-index: 1;
          position: absolute;
          left: 58px;
          overflow: hidden;
          transition: .2s linear all;
        }
        &:hover{
          .ListILink-item-icon  {
            color: $primary-color;
          }
        }
      }
    }
    .ListILink__hidden{
      .ListILink_content{
        padding-bottom: 0;
      }
      .ListILink-header{
        .ListILink-icon{
          margin-left: 0;
          color: gray;
        }
      }
      &:hover{
        .ListILink-header{
          .ListILink-icon{
            color: $primary-color;
          }
        }
      }
    }
    .ListILink__hiddenHeader{
      .ListILink-header{
        display: none;
      }
      .ListILink_content{
        padding-bottom: 0;
      }
      .ListILink-item{
        height: 46px;
        .ListILink-item-icon{
          height: 46px;
          &::before{
            width: 46px;
            line-height: 46px;
          }
        }
        .ListILink-item-title{
          height: 46px;
          line-height: 46px;
          text-transform: uppercase;
          font-weight: normal;
        }
      }
    }
    .ListILink__iconMode{
      width: 58px;
      .ListILink-header{
        .ListILink-icon{
          cursor: pointer;
          margin: 0;
          color: #cbcbcb;
        }
        .ListILink-title{
          display: none;
        }
        .ListILink-toggle_show{
          display: none;
        }
      }
    }
    .SimpleList{
      position: relative;
      background: white;
      .SimpleList_content{
        position: relative;
      }
      .SimpleList-header{
        display: block;
        height: 50px;
        text-align: left;
        position: relative;
        overflow: hidden;
        &::after{
          content: "";
          display: block;
          width: calc(100% - 50px);
          height: 1px;
          background: $primary-color;
          position: absolute;
          bottom: 1;
          right: 0;
        }
        .SimpleList-icon{
          display: block;
          float: left;
          height: 100%;
          width: 50px;
          font-size: 22px;
          &::before{
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            line-height: 50px;
          }
        }
        .SimpleList-title{
          line-height: 50px;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
      .SimpleList-body{
        padding: 20px 0;
      }
      .SimpleList-item{
        display: block;
        height: 40px;
        text-decoration: none;
        color: #3c3c3c;
        text-align: left;
        position: relative;
        transition: .2s linear all;
        &:link{
          color: $black-primary-color;
          &:hover{
            background: $ultra-light-color;
          }
        }
        .SimpleList-item-icon{
          display: block;
          float: left;
          height: 100%;
          width: 50px;
          font-size: 14px;
          &::before{
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            line-height: 40px;
          }
        }
        .SimpleList-item-title{
          overflow: hidden;
          line-height: 40px;
          font-size: 18px;
          font-weight: lighter;
          display: inline-block;
          height: 40px;
          width: calc(100% - 51px);
          white-space:nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .SimpleButton{
      display: inline-block;
      height: 40px;
      padding: 0 20px;
      text-decoration: none;
      position: relative;
      text-align: center;
      color: black;
      transition: .2s linear all;
      overflow: hidden;
      &::before{
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: $primary-color;
        transition: .2s linear all;
      }
      &:hover{
        color: white;
        &::before{
          top: 0;
        }
      }
      .SimpleButton-title{
        line-height: 40px;
        display: inline-block;
        position: relative;
      }
      .SimpleButton-icon{
        float: right;
        height: 40px;
        font-size: 18px;
        padding: 0 0 0 10px;
        position: relative;
        &::before{
          display: block;
          line-height: 40px;
        }
      }
    }
    .MiniList{
      .MiniList-header{
        font-size: 18px;
        height: 40px;
        display: block;
        line-height: 40px;
        white-space:nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;
      }
      .MiniList-body{
        padding: 0 2px 10px 2px;
        overflow: hidden;
      }
      .MiniList-item{
        padding: 4px 0;
        box-sizing: border-box;
        .MiniList-item_content{
          display: block;
          overflow: hidden;
          position: relative;
          >div{
            position: relative;
            width: calc(100% - 31px);
            float: right;
            .MiniList-item-title{
              display: block;
              font-size: 16px;
              font-weight: lighter;
              height: 30px;
              line-height: 30px;
              text-align: left;
              padding: 10px 10px 0 0;
              position: relative;
              overflow: hidden;
              white-space:nowrap;
              text-overflow: ellipsis;
            }
            .MiniList-item-description{
              font-size: 14px;
              display: block;
              padding: 0 10px 10px 0;
            }
          }
          .MiniList-item-icon{
            float: left;
            height: 30px;
            width: 30px;
            display: block;
            padding-top: 10px;
            &::before{
              display: block;
              width: 100%;
              height: 100%;
              line-height:30px;
              text-align: center;
            }
          }
        }
      }
    }
}
